# Dependencies
node_modules/

# Build output
build/
dist/
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Test output
coverage/
.nyc_output/

# Runtime files
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.*
!.env.example

# IDE/editor files
.vscode/*
!.vscode/extensions.json
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/
*.tmp
*.swp
